<?xml version=1.0?>
<plugin>
	<!-- 别名 -->
	<alias>Dwonload Center</alias>
	
	<!-- 版本号 -->
	<version>0.0</version>
	<!-- 作者 -->
	<author>Edward</author>
	<!-- 版权 -->
	<license>GPLv3</license>
	
	<!-- 图标 -->
	<logo>logo.svg</logo>
	<!-- 官方网站 -->
	<website>http://www.linnya.org</website>
	<!-- 说明 -->
	<comment>A plugin for downloading lrc file from Internet.</comment>
	
	<!-- 后台运行标志 -->
	<daemon>1</daemon>
	<!-- 配置函数名 -->
	<config_symbol>ly_plugin_downlrc_config</config_symbol>
</plugin>
