@import url("resource:///reset.css");
*{
	engine: clearlooks;
	background-repeat: no-repeat;
}

GtkButton{
    transition-property: color, background-color, border-color, background-image, padding, border-width;
    transition-duration: 1s;
}

/*
 * Buttons
 */
#btn_menu{
	border-image: url("image/null.png");
    background-image: url("image/btn_menu_normal.png");
}
#btn_menu:hover{
	border-image: url("image/null.png");
    background-image: url("image/btn_menu_hover.png");
}
#btn_menu:active{
	border-image: url("image/null.png");
    background-image: url("image/btn_menu_active.png");
}
#btn_adds{
	border-image: url("image/null.png");
    background-image: url("image/btn_adds_normal.png");
}
#btn_adds:hover{
	border-image: url("image/null.png");
    background-image: url("image/btn_adds_hover.png");
}
#btn_adds:active{
	border-image: url("image/null.png");
    background-image: url("image/btn_adds_active.png");
}
#btn_full{
	border-image: url("image/null.png");
	background-image: url("image/btn_full_normal.png");
}
#btn_full:hover{
	border-image: url("image/null.png");
	background-image: url("image/btn_full_hover.png");
}
#btn_full:active,
#btn_full:active:hover{
	border-image: url("image/null.png");
	background-image: url("image/btn_full_active.png");
}
#btn_prev{
	border-image: url("image/null.png");
    background-image: url("image/btn_prev_normal.png");
}
#btn_prev:hover{
	border-image: url("image/null.png");
    background-image: url("image/btn_prev_hover.png");
}
#btn_prev:active{
	border-image: url("image/null.png");
    background-image: url("image/btn_prev_active.png");
}
#btn_play{
	border-image: url("image/null.png");
	background-image: url("image/btn_play_normal.png");
}
#btn_play:hover{
	border-image: url("image/null.png");
	background-image: url("image/btn_play_hover.png");
}
#btn_play:active,
#btn_play:active:hover{
	border-image: url("image/null.png");
    background-image: url("image/btn_play_active.png");
}
#btn_next{
	border-image: url("image/null.png");
    background-image: url("image/btn_next_normal.png");
}
#btn_next:hover{
	border-image: url("image/null.png");
    background-image: url("image/btn_next_hover.png");
}
#btn_next:active{
	border-image: url("image/null.png");
    background-image: url("image/btn_next_active.png");
}
#btn_conf{
	border-image: url("image/null.png");
    background-image: url("image/btn_conf_normal.png");
}
#btn_conf:hover{
	border-image: url("image/null.png");
    background-image: url("image/btn_conf_hover.png");
}
#btn_conf:active{
	border-image: url("image/null.png");
    background-image: url("image/btn_conf_active.png");
}
#btn_volm{
	border-image: url("image/null.png");
    background-image: url("image/btn_volm_normal.png");
}
#btn_volm:hover{
	border-image: url("image/null.png");
    background-image: url("image/btn_volm_hover.png");
}
#btn_volm:active,
#btn_volm:active:hover{
	border-image: url("image/null.png");
    background-image: url("image/btn_volm_active.png");
}

/*
 * Seek bar
 */
#bar_seek.slider,
#bar_seek.slider.horizontal,
#bar_seek.slider.horizontal:hover {
    background-image: url("image/bar_seek_button.png");
}

#bar_seek {
    -GtkScale-slider-length: 16;
    -GtkRange-slider-width: 20;
    -GtkRange-trough-border: 0;
    -unico-focus-border-radius: 3;
    -unico-focus-border-dashes: 0;
    -GtkWidget-focus-line-width: 0;
    -unico-focus-border-color: @transparent;
    -unico-focus-fill-color: @transparent;
    -unico-focus-outer-stroke-color: @transparent;

}

#bar_seek.slider,
#bar_seek.slider:hover,
#bar_seek.slider:insensitive {
    border-width: 0px;
    border-radius: 0px;
    border-style: none;

    color: alpha(#D8D8D8, 0.0);
    background-color: alpha(#D8D8D8, 0.0);

    /* background-image in -assets variant */
}

#bar_seek.trough {
    border-width: 1px;
    border-radius: 8px;
    border-style: none;
    background-image: -gtk-gradient (linear,
			         left top,
			         left bottom,
			         from (alpha (#000, 0.18)),
                     color-stop (0.20, alpha (#000, 0.14)),
			         to (alpha (#000, 0.04)));

    -unico-border-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (shade (#D8D8D8, 0.60)),
                     to (shade (#D8D8D8, 0.70)));
}

#bar_seek.progressbar {

    background-color: #FF0000;

    border-width: 1px;
    border-radius: 2px;
    border-style: none;
    /* border-image defined in the -assets variants */

    -unico-progressbar-pattern: none;
}

#bar_seek.scale.highlight.left,
#bar_seek.scale.highlight.left {
	border-width: 0px;
	background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (#5858FA, 1.31)),
                                     to (shade (#0101DF, 0.90)));
}

/*
 * Nbk sss
 */
#nbk_sssn{
	background-color: transparent;
	background-image: none;
}
#nbk_sssn tab {
	margin: 11px 9px 9px 11px;
    background-image: -gtk-gradient (linear,
                       left top, left bottom,
                       from (alpha (#fff, 0.20)),
                       to (alpha (#000, 0.2)));
	border:none;
	color: alpha(#0044FF, 0.4);
}

#nbk_sssn tab:active {
	margin: 11px 9px 9px 11px;
    background-image: -gtk-gradient (linear,
                left top, left bottom,
                from (alpha (#FFF, 0.7)),
              to (alpha (#FFF, 0.7)));
	
	color: white;
	border-style: solid;
	border-width: 1px;
	border-color: #FFF;
}

/*
 * Session add page
 */
#sss_vwpt{
	background-color: transparent;
	background-image: url("image/sss_adds_bg.png");
	background-repeat: repeat-x;
}
#sss_adds.view{
	background-color: alpha (#EEEEEE, 0.4);
	text-shadow: 3px 3px 5px alpha(black, 0.5);
}

#sss_adds.view.cell:selected,
#sss_adds.view.cell:selected:focused{
	background-color: alpha (#222277, 0.6);
	background-image: none;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	text-shadow: 3px 3px 5px alpha(white, 0.9);
}
