<?xml version=1.0?>
<plugin>
	<!-- 别名 -->
	<alias>Radio</alias>
	
	<!-- 版本号 -->
	<version>0.1</version>
	<!-- 作者 -->
	<author>Edward</author>
	<!-- 版权 -->
	<license>GPLv3</license>
	
	<!-- 图标 -->
	<logo>logo.png</logo>
	<!-- 官方网站 -->
	<website>http://www.linnya.org</website>
	<!-- 说明 -->
	<comment>A plugin for listening radio from Internet.</comment>
	
	
	<!-- 后台运行标志 -->
	<daemon>0</daemon>
	<!-- 配置函数名 -->
	<create_symbol>ly_3rdo_create</create_symbol>
	<destroy_symbol>ly_3rdo_destroy</destroy_symbol>
	<config_symbol>ly_3rdo_config</config_symbol>
</plugin>
