<?xml version=1.0?>
<plugin>
	<deamon>0</deamon>
	<version>0.0</version>
	<author>Edward</author>
	<license>GPLv3</license>
	<logo>logo.png</logo>
	<comment>A plugin for showing library and playlist.</comment>
	<website>http://code.google.com/p/linnya</website>
	
	<create_symbol>ly_plugin_manager_create</create_symbol>
	<refresh_symbol>ly_plugin_manager_refresh</refresh_symbol>
	<destroy_symbol>ly_plugin_manager_destroy</destroy_symbol>
	<config_symbol>ly_plugin_manager_config</config_symbol>
</plugin>