#ly_win {
	color: #EEE;
}

#ly_hbox_title .button,
#ly_hbox_title .button:hover,
#ly_hbox_title .button:active,
#ly_hbox_title .button:active:hover{
    color: #fff;
	border-width:0;
}
#ly_btn_close,
#ly_btn_close:hover,
#ly_btn_close:active,
#ly_btn_close:hover:active,
#ly_btn_close:focused,
#ly_btn_close.default {
    background-image: url("linnya_img/ly_btn_close.svg");
    background-color: alpha (#FFF,0.0);
}

#ly_btn_min,
#ly_btn_min:hover,
#ly_btn_min:active,
#ly_btn_min:focused {
    background-image: url("linnya_img/ly_btn_min.svg");
}

#ly_hbox_control .button,
#ly_hbox_control .button:hover,
#ly_hbox_control .button:active,
#ly_hbox_control .button:active:hover{
    border-width:0;
    border-style:none;
}
#ly_btn_play,
#ly_btn_play:hover{
    background-image: url("linnya_img/ly_btn_play.png");
}
#ly_btn_play:active,
#ly_btn_play:active:hover{
    background-image: url("linnya_img/ly_btn_pause.png");
}


#ly_btn_prev,
#ly_btn_prev:hover,
#ly_btn_prev:active,
#ly_btn_prev:focused {
    background-image: url("linnya_img/ly_btn_prev.png");
}

#ly_btn_next,
#ly_btn_next:hover,
#ly_btn_next:active,
#ly_btn_next:focused {
    background-image: url("linnya_img/ly_btn_next.png");
}

#ly_btn_config,
#ly_btn_config:hover,
#ly_btn_config:active,
#ly_btn_config:focused {
    background-image: url("linnya_img/ly_btn_config.png");
}

#ly_btn_volume,
#ly_btn_volume:hover,
#ly_btn_volume:active,
#ly_btn_volume:focused {
    background-image : url("linnya_img/null.png");
}

#ly_notebook_session {
    border-color: alpha (#fff, 0.3);
    border-style: solid;
    border-width: 1;
    border-radius: 2;
    background-color: alpha (#000, 0.8);

    -GtkNotebook-tab-overlap: 0;
    -GtkNotebook-tab-curvature: 2;
}

#ly_notebook_session tab {
    padding: 2;
    background-image: -gtk-gradient (linear,
                       left top, left bottom,
                       from (alpha (#fff, 0.20)),
                       to (alpha (#000, 0.0)));

    -adwaita-focus-border-radius: 10;
    color: #fff;
}

#ly_notebook_session tab:active {


    background-image: -gtk-gradient (linear,
                left top, left bottom,
                from (alpha (#fff, 0.50)),
              to (alpha (#000, 0.0)));



    border-color: alpha (#fff, 0.3);

    border-width: 1;
        -adwaita-border-gradient: -gtk-gradient (linear,
                                   left top, left bottom,
                                   from (alpha (#fff, 0.3)),
                                   to (alpha (#fff, 0.3)));
       -adwaita-selected-tab-color: alpha (#fff, 0.10);
     
    color: #fff;
}

#ly_notebook_session .button,
#ly_notebook_session .button:hover,
#ly_notebook_session .button:hover:active {

    background-image: -gtk-gradient (linear,
                       left top, left bottom,
                       from (alpha (#fff, 0.50)),
                       to (alpha (#000, 0.0)));
    border-color: alpha (#fff, 0.3);

}
#ly_hscale_seek {
    -GtkScale-slider-length: 16;
    -GtkRange-slider-width: 22;
    -GtkRange-trough-border: 0;
}

#ly_hscale_seek.slider {
    border-width: 1;
    border-radius: 3;
    background-image: -gtk-gradient (linear,
                       left top, left bottom,
                       from (alpha (#fff, 0.20)),
                       to (alpha (#fff, 0.0)));
    

    -adwaita-border-gradient: -gtk-gradient (linear,
                       left top, left bottom,
                       from (alpha (#fff, 0.40)),
                       to (alpha (#fff, 0.40)));
}

#ly_hscale_seek.slider:insensitive {
    background-image: none;
    -adwaita-border-gradient: none;
}

#ly_hscale_seek.scale-has-marks-below.slider.horizontal {
    -adwaita-border-gradient: -gtk-gradient (linear,
                               left top, left bottom,
                               from (alpha (#fff, 0.40)),
                               to (alpha (#fff, 0.40)));
}

#ly_hscale_seek.scale-has-marks-below.slider.vertical {
    -adwaita-border-gradient: -gtk-gradient (linear,
                               left top, left bottom,
                               from (alpha (#fff, 0.40)),
                               to (alpha (#fff, 0.40)));
}

#ly_hscale_seek.scale-has-marks-above.slider.horizontal {
    -adwaita-border-gradient: -gtk-gradient (linear,
                               left top, left bottom,
                               from (alpha (#fff, 0.40)),
                               to (alpha (#fff, 0.40)));
}

#ly_hscale_seek.scale-has-marks-above.slider.vertical {
    -adwaita-border-gradient: -gtk-gradient (linear,
                               left top, left bottom,
                               from (alpha (#fff, 0.40)),
                               to (alpha (#fff, 0.40)));
}

#ly_hscale_seek.trough {
    border-width: 1;
    border-radius: 4;
    border-style: solid;
    border-color: alpha (#fff, 0.40); 
}

#ly_hscale_seek.trough:insensitive {
    background-color: alpha (#fff, 0.20); 
    border-color: alpha (#fff, 0.40); 
}

#ly_hscale_seek.trough.horizontal {
    background-image: -gtk-gradient (linear,
                       left top, left bottom,
                       from (alpha (#fff, 0.20)),
                       to (alpha (#fff, 0.0)));
}

#ly_hscale_seek.trough.vertical {
    background-image: -gtk-gradient (linear,
                       left top, left bottom,
                       from (alpha (#fff, 0.20)),
                       to (alpha (#fff, 0.0)));
}

#ly_hscale_seek.progressbar {
    background-image: -gtk-gradient (linear,
                       left top, left bottom,
                       from (alpha (#fff, 0.20)),
                       to (alpha (#fff, 0.0)));

    border-color: alpha (#fff, 0.40);
    border-width: 1;
    border-radius: 4;
    border-style: solid;
}

#ly_hscale_seek.mark {
    background-color: alpha (#fff, 0.40);
}


/*
 * VIEW
 */
#session_add {

    border-radius: 2;
    padding: 0;
}

#session_add.view.cell:selected,
#session_add.view.cell:selected:focused {
    
    background-color: alpha (#fff, 0.10);
    border-radius: 4;

    -adwaita-focus-border-color: alpha (#fff, 0.10);
    -adwaita-focus-border-radius: 3;
    -adwaita-focus-border-dashes: 0;
}

#ly_iconview_add.view {

    background-color: alpha (#222, 0.50);
    color: alpha (#fff, 0.70);
    border-radius: 0;
    border-width: 2;

}

#ly_pl_treeview_manager {

    -GtkTreeView-vertical-separator: 0;
    -GtkTreeView-expander-size: 8;

    -GtkWidget-focus-line-width: 1;
    -adwaita-focus-border-radius: 0;
    -adwaita-focus-border-dashes: 0;
    -adwaita-focus-border-color: alpha (#333, 0.40);
}

#ly_pl_treeview_manager.separator {
     background-color: alpha (#333, 0.40);
}

#ly_pl_treeview_manager column-header {
    padding: 1 2;
	color: #222;
}

#ly_pl_treeview_manager column-header .button {
     background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (#000),
                                     color-stop (0.02, #555),
                                     color-stop (0.03, #222),
                                     color-stop (0.97, #111),
                                     color-stop (0.98, #555),
                                     to (#000));

    border-width: 0;
    border-radius: 0;
	color:#999;
}
#ly_pl_treeview_manager column-header .button:hover {
     background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (#000),
                                     color-stop (0.02, #555),
                                     color-stop (0.03, #222),
                                     color-stop (0.97, #111),
                                     color-stop (0.98, #555),
                                     to (#000));
    border-width: 0;
    border-radius: 0;
    color:#fff;
}

#ly_pl_treeview_manager row:hover {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (#000),
                                     color-stop (0.02, #555),
                                     color-stop (0.03, #222),
                                     color-stop (0.97, #111),
                                     color-stop (0.98, #555),
                                     to (#000));
	background-color: alpha(#000, 0.1);
    color: #fff;
    border-radius: 0;
    border-width: 0;
    border-style: solid;
    padding: 2;
 
}

#ly_pl_treeview_manager row:insensitive {
	color: alpha(#000, 0.5);
    border-width: 0;
}

#ly_pl_treeview_manager row:selected:focused {
    border-width: 0;

    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (#000),
                                     color-stop (0.02, #555),
                                     color-stop (0.03, #222),
                                     color-stop (0.97, #111),
                                     color-stop (0.98, #555),
                                     to (#000));


}

#ly_pl_treeview_manager row:selected {
    border-width: 0;
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (#000),
                                     color-stop (0.02, #555),
                                     color-stop (0.03, #222),
                                     color-stop (0.97, #111),
                                     color-stop (0.98, #555),
                                     to (#000));
}

#ly_pl_treeview_manager.cell {
    background-color: alpha (#000, 0.50);

    color: #CCCCCC; /*@theme_text_color;*/
    padding: 0;
    border-width: 0;
}

#ly_pl_treeview_manager.cell:selected {
    background-color: #000;
}

#ly_pl_treeview_manager.expander {
    color: alpha (#fff, 0.60);
    border-color: alpha (#fff, 0.40);

    background-color: alpha (#333, 0.70);
}

#ly_pl_treeview_manager.expander:active {
    color: alpha (#fff, 0.60);
    border-color: alpha (#fff, 0.40);

    background-color: alpha (#333, 0.70);
}

#ly_pl_treeview_manager.expander:prelight {
    color: alpha (alpha (#c8c8c8, 0.2), 0.60);
    border-color: alpha (alpha (#c8c8c8, 0.2), 0.60);

    background-color: alpha (#304665, 0.2);
}

#ly_pl_treeview_manager.expander row:selected,
#ly_pl_treeview_manager.expander row:selected:focused {
    border-color: alpha (alpha (#c8c8c8, 0.2), 0.60);
    color: alpha (alpha (#c8c8c8, 0.2), 0.60);
    background-color: alpha (#304665, 0.2);
}
