<?xml version=1.0?>
<plugin>
	<!-- Plugin alias -->
	<alias>Video Viewer</alias>

	<!-- Plugin version -->
	<version>0.0</version>
	<!-- Plugin author -->
	<author>Edward</author>
	<!-- Public license -->
	<license>GPLv3</license>

	<!-- Plugin logo icon -->
	<logo>logo.png</logo>
	<!-- Plugin official website -->
	<website>http://www.linnya.org/pix/vdo/</website>
	<!-- Pligin short description -->
	<comment>A plugin for playing video.</comment>


	<!-- Set if the plugin is running in daemon -->
	<daemon>0</daemon>
	<!-- The API function name -->
	<create_symbol>ly_3vdo_create</create_symbol>
	<destroy_symbol>ly_3vdo_destroy</destroy_symbol>
	<config_symbol>ly_3vdo_config</config_symbol>
</plugin>
