<?xml version=1.0?>
<plugin>
	<!-- 别名 -->
	<alias>Lyrics</alias>
	
	<!-- 版本号 -->
	<version>0.0</version>
	<!-- 作者 -->
	<author>Edward</author>
	<!-- 版权 -->
	<license>GPLv3</license>
	
	<!-- 图标 -->
	<logo>logo.svg</logo>
	<!-- 官方网站 -->
	<website>http://www.linnya.org</website>
	<!-- 说明 -->
	<comment>A plugin for showing lyrics.</comment>
	
	
	<!-- 后台运行标志 -->
	<deamon>0</deamon>
	<!-- 配置函数名 -->
	<create_symbol>ly_plugin_lrc_create</create_symbol>
	<refresh_symbol>ly_plugin_lrc_refresh</refresh_symbol>
	<destroy_symbol>ly_plugin_lrc_destroy</destroy_symbol>
	<config_symbol>ly_plugin_lrc_config</config_symbol>
</plugin>
